flows.json
[{"id":"31c260a1.e9727","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"de67b8d7.4bc7f8","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":",","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"472f40f.afe58c","type":"mqtt-broker","name":"edge-recv","broker":"broker","port":"1883","clientid":"edge-recv","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d733944f.4df1c8","type":"debug","z":"31c260a1.e9727","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":120,"wires":[]},{"id":"f77635f3.c05b28","type":"function","z":"31c260a1.e9727","name":"temp","func":"//var c=0;\n//var f=msg.payload.length;\n//for(i=1;i++;f)\n//{\n   // if(c=1)\n    //{\n            //msg.payload[i];\n    //}\n    if(msg.payload[0]==\"T\" || msg.payload[2]==\"T\")\n    \n    {\n        //c++;\n        return msg;\n        \n    }\n    \n//}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":120,"wires":[["d733944f.4df1c8","c3393fee.00ab7"]]},{"id":"690275a8.c7c7bc","type":"serial in","z":"31c260a1.e9727","name":"","serial":"de67b8d7.4bc7f8","x":340,"y":300,"wires":[["f77635f3.c05b28","8b9ac340.f394f"]]},{"id":"8b9ac340.f394f","type":"function","z":"31c260a1.e9727","name":"Humidity","func":"if(msg.payload[1]==\"H\")\n    {\n        //c++;\n        return msg;\n        \n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["a5afa583.d59af8","30345cae.15b714"]]},{"id":"a5afa583.d59af8","type":"debug","z":"31c260a1.e9727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"c3393fee.00ab7","type":"mqtt out","z":"31c260a1.e9727","name":"","topic":"/sensor/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":790,"y":220,"wires":[]},{"id":"30345cae.15b714","type":"mqtt out","z":"31c260a1.e9727","name":"","topic":"/sensor/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":830,"y":340,"wires":[]}]