flows.json
[{"id":"9f837ff1.6bb6c","type":"tab","label":"New","disabled":false,"info":""},{"id":"93707d05.9f04d","type":"debug","z":"9f837ff1.6bb6c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":120,"wires":[]},{"id":"617006db.a494d8","type":"function","z":"9f837ff1.6bb6c","name":"temp","func":"\n    if(msg.payload[2]==\"T\")\n    \n    {\n        //c++;\n        return msg;\n        \n    }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":120,"wires":[["93707d05.9f04d","7b62ee32.3d75d"]]},{"id":"5f478b5b.2fcba4","type":"serial in","z":"9f837ff1.6bb6c","name":"","serial":"de67b8d7.4bc7f8","x":340,"y":300,"wires":[["617006db.a494d8","88224b6c.a39178"]]},{"id":"88224b6c.a39178","type":"function","z":"9f837ff1.6bb6c","name":"Humidity","func":"if(msg.payload[0]==\"H\" || msg.payload[1]==\"T\")\n    {\n        //c++;\n        return msg;\n        \n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["4309db29.95d734","388be503.7040da"]]},{"id":"4309db29.95d734","type":"debug","z":"9f837ff1.6bb6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"7b62ee32.3d75d","type":"mqtt out","z":"9f837ff1.6bb6c","name":"","topic":"/sensor/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":790,"y":220,"wires":[]},{"id":"388be503.7040da","type":"mqtt out","z":"9f837ff1.6bb6c","name":"","topic":"/sensor/#","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"472f40f.afe58c","x":830,"y":340,"wires":[]},{"id":"de67b8d7.4bc7f8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":",","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"472f40f.afe58c","type":"mqtt-broker","name":"edge-recv","broker":"broker","port":"1883","clientid":"edge-recv","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
