proto/flows (1).json
[{"id":"ce175828.de0678","type":"tab","label":"New","disabled":false,"info":""},{"id":"f090392.c3108c8","type":"group","z":"ce175828.de0678","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["889ab6b6.2cd828"],"x":54,"y":259,"w":192,"h":82},{"id":"de67b8d7.4bc7f8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"2000","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"c09c4583.79fd98","type":"mqtt-broker","name":"","broker":"161.35.25.71","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"889ab6b6.2cd828","type":"serial in","z":"ce175828.de0678","g":"f090392.c3108c8","name":"","serial":"de67b8d7.4bc7f8","x":150,"y":300,"wires":[["a07fec54.5a6cc","ca73d03b.dfa84","dc6a903a.77544","ff8f4ffe.51066"]]},{"id":"32b21664.3f9fea","type":"mqtt out","z":"ce175828.de0678","name":"","topic":"/sensor/1/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c09c4583.79fd98","x":1560,"y":240,"wires":[]},{"id":"da86246c.d394c8","type":"mqtt out","z":"ce175828.de0678","name":"","topic":"/sensor/1/humidity","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c09c4583.79fd98","x":1570,"y":380,"wires":[]},{"id":"ea2fee04.4d205","type":"serial out","z":"ce175828.de0678","name":"","serial":"de67b8d7.4bc7f8","x":800,"y":880,"wires":[]},{"id":"a1364b23.9dfbf8","type":"inject","z":"ce175828.de0678","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"send","payloadType":"str","x":550,"y":880,"wires":[["ea2fee04.4d205"]]},{"id":"e78052b7.5ece5","type":"json","z":"ce175828.de0678","name":"","property":"payload","action":"","pretty":false,"x":690,"y":480,"wires":[["4b9aa994.5e91e8"]]},{"id":"4b9aa994.5e91e8","type":"switch","z":"ce175828.de0678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"temperature","vt":"str"},{"t":"hask","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":480,"wires":[["281548ca.4c80b8"],["ceab8d92.e1711"]]},{"id":"312cdf33.ebad9","type":"mqtt in","z":"ce175828.de0678","name":"","topic":"/actuator/1/+","qos":"2","datatype":"auto","broker":"c09c4583.79fd98","nl":false,"rap":true,"rh":0,"x":530,"y":720,"wires":[["269033ed.b4faec"]]},{"id":"269033ed.b4faec","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":720,"wires":[]},{"id":"ceab8d92.e1711","type":"function","z":"ce175828.de0678","name":"","func":"var date = new Date();\n//var object = [,,msg.payload.humidity];\n//msg.payload = object;\n//return msg;\n\n\n\nvar array = flow.get(\"three\");\n\nvar cnt =flow.get(\"cnt2\")\n\nif(cnt[0]==0 && cnt[1]==0 )\n{\n    var object = msg.payload.humidity;\n    array[0] = date.getMonth()+1;\n    array[1] = date.getDate();\n    array[2] = date.getHours();\n    array[3] = date.getMinutes();\n    array[4] = 0;\n    array[5] = 0;\n    array[6] = object\n    cnt.shift();\n    cnt.push(1);\n    \n    flow.set (\"three\", array);\n    flow.set (\"cnt2\", cnt)\n    \n    \n    msg.payload = array;\n    return msg;\n}\nelse if (cnt[0]==0 && cnt[1]==1)\n{\n\n    array[4] = msg.payload[0];\n    array[5] = msg.payload[1];\n    \n    cnt.shift();\n    cnt.push(1);\n    \n    flow.set (\"cnt2\", cnt)\n}\nelse if (cnt[0]==1 && cnt[1]==1)\n{\n    var object = msg.payload.humidity;\n    array[0] = date.getMonth()+1;\n    array[1] = date.getDate();\n    array[2] = date.getHours();\n    array[3] = date.getMinutes();\n    array[6] = object\n    \n    cnt =[0,1];\n    \n    flow.set (\"three\", array);\n    flow.set (\"cnt2\",cnt)\n\n    msg.payload = array;\n    return msg;\n\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar arrayVuoto = [];\nvar c=0;\n\nfor (let i = 0; i<3; i++){\n    arrayVuoto.push(c);\n}\n\nflow.set (\"three\", arrayVuoto);\n\nvar array = [];\n\nfor (let j = 0; j<2; j++){\n    array.push(0);\n}\n\nflow.set (\"cnt2\", array);","finalize":"","libs":[],"x":1160,"y":380,"wires":[["cfb38d7d.b4db7","f79446a2.f69d38"]]},{"id":"f79446a2.f69d38","type":"function","z":"ce175828.de0678","name":"","func":"var array = flow.get(\"test\");\n\nvar object = msg.payload;\narray.shift();\narray.push(object);\n\nflow.set (\"test\", array);\n\n\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar object = [];\nvar arrayVuoto = [];\n\nfor (let i = 0; i<36; i++){\n    arrayVuoto.push(object);\n}\n\n\nflow.set (\"test\", arrayVuoto);","finalize":"","libs":[],"x":1340,"y":380,"wires":[["e66b9fcf.7e23b","da86246c.d394c8"]]},{"id":"e66b9fcf.7e23b","type":"debug","z":"ce175828.de0678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":500,"wires":[]},{"id":"cfb38d7d.b4db7","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":500,"wires":[]},{"id":"3d3a7efd.b2fc42","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":140,"wires":[]},{"id":"281548ca.4c80b8","type":"function","z":"ce175828.de0678","name":"","func":"var date = new Date();\n//var object = [,,msg.payload.humidity];\n//msg.payload = object;\n//return msg;\n\n\n\nvar array = flow.get(\"three1\");\n\nvar cnt =flow.get(\"cnt1\")\n\nif(cnt[0]==0 && cnt[1]==0 )\n{\n    var object = msg.payload.temperature;\n    array[0] = date.getMonth()+1;\n    array[1] = date.getDate();\n    array[2] = date.getHours();\n    array[3] = date.getMinutes();\n    array[4] = 0;\n    array[5] = 0;\n    array[6] = object\n    cnt.shift();\n    cnt.push(1);\n    \n    flow.set (\"three1\", array);\n    flow.set (\"cnt1\", cnt)\n    \n    \n    msg.payload = array;\n    return msg;\n}\nelse if (cnt[0]==0 && cnt[1]==1)\n{\n\n    array[4] = msg.payload[0];\n    array[5] = msg.payload[1];\n    \n    cnt.shift();\n    cnt.push(1);\n    \n    flow.set (\"cnt1\", cnt)\n   // msg.payload = cnt;\n    //return msg;\n}\nelse if (cnt[0]==1 && cnt[1]==1)\n{\n    var object = msg.payload.temperature;\n    array[0] = date.getMonth()+1;\n    array[1] = date.getDate();\n    array[2] = date.getHours();\n    array[3] = date.getMinutes();\n    array[6] = object\n    \n    cnt =[0,1];\n    \n    flow.set (\"three1\", array);\n    flow.set (\"cnt1\",cnt)\n\n    msg.payload = array;\n    return msg;\n\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar arrayVuoto = [];\nvar c=0;\n\nfor (let i = 0; i<7; i++){\n    arrayVuoto.push(c);\n}\n\nflow.set (\"three1\", arrayVuoto);\n\nvar array = [];\n\nfor (let j = 0; j<2; j++){\n    array.push(0);\n}\n\nflow.set (\"cnt1\", array);\n","finalize":"","libs":[],"x":1160,"y":240,"wires":[["3d3a7efd.b2fc42","d904f072.0ffcb"]]},{"id":"a07fec54.5a6cc","type":"split","z":"ce175828.de0678","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":480,"wires":[["e78052b7.5ece5"]]},{"id":"4f70fe08.c2fb9","type":"function","z":"ce175828.de0678","name":"","func":"\n\nvar array = flow.get(\"two\");\n\nvar cnt = flow.get(\"ct\");\n\nvar object = msg.payload;\narray.shift();\ncnt.shift();\narray.push(object);\ncnt.push(1);\n\nflow.set (\"two\", array);\n\n\nmsg.payload = array;\n//msg.parts.index.1;\n\nif (cnt[0]!=0)\n{\n    \n    flow.set (\"ct\", [0,0]);\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar arrayVuoto = [];\nvar array = [];\nvar c=0;\n\nfor (let i = 0; i<2; i++){\n    arrayVuoto.push(c);\n    array.push(c);\n}\n\nflow.set (\"two\", arrayVuoto);\n\nflow.set (\"ct\", array);","finalize":"","libs":[],"x":740,"y":220,"wires":[["3b8357c5.930f78","8ca04984.a5cff8"]]},{"id":"85412a9e.eb3798","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"ca73d03b.dfa84","type":"string","z":"ce175828.de0678","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":" "}]},{"name":"delRightMost","params":[{"type":"str","value":"{"}]},{"name":"between","params":[{"type":"str","value":"\""},{"type":"str","value":"0"}]},{"name":"toFloat","params":[{"type":"num","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":390,"y":180,"wires":[["85412a9e.eb3798","4f70fe08.c2fb9"]]},{"id":"3b8357c5.930f78","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"dc6a903a.77544","type":"string","z":"ce175828.de0678","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":"y\":"}]},{"name":"delRightMost","params":[{"type":"str","value":"."}]},{"name":"toFloat","params":[{"type":"num","value":""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":390,"y":260,"wires":[["afec7549.c89ea8","d21717f3.177f98"]]},{"id":"8ca04984.a5cff8","type":"delay","z":"ce175828.de0678","name":"","pauseType":"delay","timeout":"8.9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":320,"wires":[["ceab8d92.e1711","281548ca.4c80b8"]]},{"id":"d904f072.0ffcb","type":"function","z":"ce175828.de0678","name":"","func":"var array = flow.get(\"test1\");\n\nvar object = msg.payload;\narray.shift();\narray.push(object);\n\nflow.set (\"test1\", array);\n\n\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar object = [];\nvar arrayVuoto = [];\n\nfor (let i = 0; i<24; i++){\n    arrayVuoto.push(object);\n}\n\n\nflow.set (\"test1\", arrayVuoto);","finalize":"","libs":[],"x":1340,"y":240,"wires":[["c06b328c.ca993","32b21664.3f9fea"]]},{"id":"c06b328c.ca993","type":"debug","z":"ce175828.de0678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":140,"wires":[]},{"id":"afec7549.c89ea8","type":"delay","z":"ce175828.de0678","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":260,"wires":[["4f70fe08.c2fb9"]]},{"id":"ff8f4ffe.51066","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":400,"wires":[]},{"id":"d21717f3.177f98","type":"debug","z":"ce175828.de0678","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":360,"wires":[]}]